Source: BitSUM
Section: utils
Priority: optional
Maintainer: BitSUM <team@z.cash>
Homepage: https://bitsum.io
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/BitsumIO/sumcoin.git
Vcs-Browser: https://github.com/BitsumIO/sumcoin

Package: bitsum-CLI
Architecture: amd64
Depends: ${shlibs:Depends}
Description: SumCoin is a new, mineable and stakeable cryptocurrency.
It is a live fork of Komodo that retains its Zcash lineage and improves it.
SumCoin will leverage the Komodo platform and dPoW notarization for enhanced security and cross-chain interoperability.
We have added a variation of a zawy12, lwma difficulty algorithm, a new CPU-optimized hash algorithm and a new algorithm for fair proof of stake.
